In [2]:
import pandas as pd
df_csv = pd.read_csv('pokemon_data.csv')
df_xlsx = pd.read_excel('pokemon_data.xlsx')
df_txt = pd.read_csv('pokemon_data.txt', delimiter='\t')

In [3]:
# print(df_csv.head(3))
# print(df_xlsx.head(3))
# print(df_txt.head(3))

In [4]:
print(df_csv.columns)

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [5]:
df_csv['Name'][0:3]

0    Bulbasaur
1      Ivysaur
2     Venusaur
Name: Name, dtype: object

In [6]:
df_csv[['Name', 'Type 1', 'HP']][0:3]

        Name Type 1  HP
0  Bulbasaur  Grass  45
1    Ivysaur  Grass  60
2   Venusaur  Grass  80

In [7]:
print(df_csv.iloc[3:5])

   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4             Charmander   Fire     NaN  39      52       43       60

   Sp. Def  Speed  Generation  Legendary
3      120     80           1      False
4       50     65           1      False

In [8]:
df_csv.iloc[1,1]

'Ivysaur'

In [9]:
for column, row in df_csv.iterrows():
    print(column, row[['Name']])

0 Name    Bulbasaur
Name: 0, dtype: object
1 Name    Ivysaur
Name: 1, dtype: object
2 Name    Venusaur
Name: 2, dtype: object
3 Name    VenusaurMega Venusaur
Name: 3, dtype: object
4 Name    Charmander
Name: 4, dtype: object
5 Name    Charmeleon
Name: 5, dtype: object
6 Name    Charizard
Name: 6, dtype: object
7 Name    CharizardMega Charizard X
Name: 7, dtype: object
8 Name    CharizardMega Charizard Y
Name: 8, dtype: object
9 Name    Squirtle
Name: 9, dtype: object
10 Name    Wartortle
Name: 10, dtype: object
11 Name    Blastoise
Name: 11, dtype: object
12 Name    BlastoiseMega Blastoise
Name: 12, dtype: object
13 Name    Caterpie
Name: 13, dtype: object
14 Name    Metapod
Name: 14, dtype: object
15 Name    Butterfree
Name: 15, dtype: object
16 Name    Weedle
Name: 16, dtype: object
17 Name    Kakuna
Name: 17, dtype: object
18 Name    Beedrill
Name: 18, dtype: object
19 Name    BeedrillMega Beedrill
Name: 19, dtype: object
20 Name    Pidgey
Name: 20, dtype: object
21 Name    Pidgeotto
Name: 21, dtype: object
22 Name    Pidgeot
Name: 22, dtype: object
23 Name    PidgeotMega Pidgeot
Name: 23, dtype: object
24 Name    Rattata
Name: 24, dtype: object
25 Name    Raticate
Name: 25, dtype: object
26 Name    Spearow
Name: 26, dtype: object
27 Name    Fearow
Name: 27, dtype: object
28 Name    Ekans
Name: 28, dtype: object
29 Name    Arbok
Name: 29, dtype: object
30 Name    Pikachu
Name: 30, dtype: object
31 Name    Raichu
Name: 31, dtype: object
32 Name    Sandshrew
Name: 32, dtype: object
33 Name    Sandslash
Name: 33, dtype: object
34 Name    Nidoran (Female)
Name: 34, dtype: object
35 Name    Nidorina
Name: 35, dtype: object
36 Name    Nidoqueen
Name: 36, dtype: object
37 Name    Nidoran (Male)
Name: 37, dtype: object
38 Name    Nidorino
Name: 38, dtype: object
39 Name    Nidoking
Name: 39, dtype: object
40 Name    Clefairy
Name: 40, dtype: object
41 Name    Clefable
Name: 41, dtype: object
42 Name    Vulpix
Name: 42, dtype: object
43 Name    Ninetales
Name: 43, dtype: object
44 Name    Jigglypuff
Name: 44, dtype: object
45 Name    Wigglytuff
Name: 45, dtype: object
46 Name    Zubat
Name: 46, dtype: object
47 Name    Golbat
Name: 47, dtype: object
48 Name    Oddish
Name: 48, dtype: object
49 Name    Gloom
Name: 49, dtype: object
50 Name    Vileplume
Name: 50, dtype: object
51 Name    Paras
Name: 51, dtype: object
52 Name    Parasect
Name: 52, dtype: object
53 Name    Venonat
Name: 53, dtype: object
54 Name    Venomoth
Name: 54, dtype: object
55 Name    Diglett
Name: 55, dtype: object
56 Name    Dugtrio
Name: 56, dtype: object
57 Name    Meowth
Name: 57, dtype: object
58 Name    Persian
Name: 58, dtype: object
59 Name    Psyduck
Name: 59, dtype: object
60 Name    Golduck
Name: 60, dtype: object
61 Name    Mankey
Name: 61, dtype: object
62 Name    Primeape
Name: 62, dtype: object
63 Name    Growlithe
Name: 63, dtype: object
64 Name    Arcanine
Name: 64, dtype: object
65 Name    Poliwag
Name: 65, dtype: object
66 Name    Poliwhirl
Name: 66, dtype: object
67 Name    Poliwrath
Name: 67, dtype: object
68 Name    Abra
Name: 68, dtype: object
69 Name    Kadabra
Name: 69, dtype: object
70 Name    Alakazam
Name: 70, dtype: object
71 Name    AlakazamMega Alakazam
Name: 71, dtype: object
72 Name    Machop
Name: 72, dtype: object
73 Name    Machoke
Name: 73, dtype: object
74 Name    Machamp
Name: 74, dtype: object
75 Name    Bellsprout
Name: 75, dtype: object
76 Name    Weepinbell
Name: 76, dtype: object
77 Name    Victreebel
Name: 77, dtype: object
78 Name    Tentacool
Name: 78, dtype: object
79 Name    Tentacruel
Name: 79, dtype: object
80 Name    Geodude
Name: 80, dtype: object
81 Name    Graveler
Name: 81, dtype: object
82 Name    Golem
Name: 82, dtype: object
83 Name    Ponyta
Name: 83, dtype: object
84 Name    Rapidash
Name: 84, dtype: object
85 Name    Slowpoke
Name: 85, dtype: object
86 Name    Slowbro
Name: 86, dtype: object
87 Name    SlowbroMega Slowbro
Name: 87, dtype: object
88 Name    Magnemite
Name: 88, dtype: object
89 Name    Magneton
Name: 89, dtype: object
90 Name    Farfetch'd
Name: 90, dtype: object
91 Name    Doduo
Name: 91, dtype: object
92 Name    Dodrio
Name: 92, dtype: object
93 Name    Seel
Name: 93, dtype: object
94 Name    Dewgong
Name: 94, dtype: object
95 Name    Grimer
Name: 95, dtype: object
96 Name    Muk
Name: 96, dtype: object
97 Name    Shellder
Name: 97, dtype: object
98 Name    Cloyster
Name: 98, dtype: object
99 Name    Gastly
Name: 99, dtype: object
100 Name    Haunter
Name: 100, dtype: object
101 Name    Gengar
Name: 101, dtype: object
102 Name    GengarMega Gengar
Name: 102, dtype: object
103 Name    Onix
Name: 103, dtype: object
104 Name    Drowzee
Name: 104, dtype: object
105 Name    Hypno
Name: 105, dtype: object
106 Name    Krabby
Name: 106, dtype: object
107 Name    Kingler
Name: 107, dtype: object
108 Name    Voltorb
Name: 108, dtype: object
109 Name    Electrode
Name: 109, dtype: object
110 Name    Exeggcute
Name: 110, dtype: object
111 Name    Exeggutor
Name: 111, dtype: object
112 Name    Cubone
Name: 112, dtype: object
113 Name    Marowak
Name: 113, dtype: object
114 Name    Hitmonlee
Name: 114, dtype: object
115 Name    Hitmonchan
Name: 115, dtype: object
116 Name    Lickitung
Name: 116, dtype: object
117 Name    Koffing
Name: 117, dtype: object
118 Name    Weezing
Name: 118, dtype: object
119 Name    Rhyhorn
Name: 119, dtype: object
120 Name    Rhydon
Name: 120, dtype: object
121 Name    Chansey
Name: 121, dtype: object
122 Name    Tangela
Name: 122, dtype: object
123 Name    Kangaskhan
Name: 123, dtype: object
124 Name    KangaskhanMega Kangaskhan
Name: 124, dtype: object
125 Name    Horsea
Name: 125, dtype: object
126 Name    Seadra
Name: 126, dtype: object
127 Name    Goldeen
Name: 127, dtype: object
128 Name    Seaking
Name: 128, dtype: object
129 Name    Staryu
Name: 129, dtype: object
130 Name    Starmie
Name: 130, dtype: object
131 Name    Mr. Mime
Name: 131, dtype: object
132 Name    Scyther
Name: 132, dtype: object
133 Name    Jynx
Name: 133, dtype: object
134 Name    Electabuzz
Name: 134, dtype: object
135 Name    Magmar
Name: 135, dtype: object
136 Name    Pinsir
Name: 136, dtype: object
137 Name    PinsirMega Pinsir
Name: 137, dtype: object
138 Name    Tauros
Name: 138, dtype: object
139 Name    Magikarp
Name: 139, dtype: object
140 Name    Gyarados
Name: 140, dtype: object
141 Name    GyaradosMega Gyarados
Name: 141, dtype: object
142 Name    Lapras
Name: 142, dtype: object
143 Name    Ditto
Name: 143, dtype: object
144 Name    Eevee
Name: 144, dtype: object
145 Name    Vaporeon
Name: 145, dtype: object
146 Name    Jolteon
Name: 146, dtype: object
147 Name    Flareon
Name: 147, dtype: object
148 Name    Porygon
Name: 148, dtype: object
149 Name    Omanyte
Name: 149, dtype: object
150 Name    Omastar
Name: 150, dtype: object
151 Name    Kabuto
Name: 151, dtype: object
152 Name    Kabutops
Name: 152, dtype: object
153 Name    Aerodactyl
Name: 153, dtype: object
154 Name    AerodactylMega Aerodactyl
Name: 154, dtype: object
155 Name    Snorlax
Name: 155, dtype: object
156 Name    Articuno
Name: 156, dtype: object
157 Name    Zapdos
Name: 157, dtype: object
158 Name    Moltres
Name: 158, dtype: object
159 Name    Dratini
Name: 159, dtype: object
160 Name    Dragonair
Name: 160, dtype: object
161 Name    Dragonite
Name: 161, dtype: object
162 Name    Mewtwo
Name: 162, dtype: object
163 Name    MewtwoMega Mewtwo X
Name: 163, dtype: object
164 Name    MewtwoMega Mewtwo Y
Name: 164, dtype: object
165 Name    Mew
Name: 165, dtype: object
166 Name    Chikorita
Name: 166, dtype: object
167 Name    Bayleef
Name: 167, dtype: object
168 Name    Meganium
Name: 168, dtype: object
169 Name    Cyndaquil
Name: 169, dtype: object
170 Name    Quilava
Name: 170, dtype: object
171 Name    Typhlosion
Name: 171, dtype: object
172 Name    Totodile
Name: 172, dtype: object
173 Name    Croconaw
Name: 173, dtype: object
174 Name    Feraligatr
Name: 174, dtype: object
175 Name    Sentret
Name: 175, dtype: object
176 Name    Furret
Name: 176, dtype: object
177 Name    Hoothoot
Name: 177, dtype: object
178 Name    Noctowl
Name: 178, dtype: object
179 Name    Ledyba
Name: 179, dtype: object
180 Name    Ledian
Name: 180, dtype: object
181 Name    Spinarak
Name: 181, dtype: object
182 Name    Ariados
Name: 182, dtype: object
183 Name    Crobat
Name: 183, dtype: object
184 Name    Chinchou
Name: 184, dtype: object
185 Name    Lanturn
Name: 185, dtype: object
186 Name    Pichu
Name: 186, dtype: object
187 Name    Cleffa
Name: 187, dtype: object
188 Name    Igglybuff
Name: 188, dtype: object
189 Name    Togepi
Name: 189, dtype: object
190 Name    Togetic
Name: 190, dtype: object
191 Name    Natu
Name: 191, dtype: object
192 Name    Xatu
Name: 192, dtype: object
193 Name    Mareep
Name: 193, dtype: object
194 Name    Flaaffy
Name: 194, dtype: object
195 Name    Ampharos
Name: 195, dtype: object
196 Name    AmpharosMega Ampharos
Name: 196, dtype: object
197 Name    Bellossom
Name: 197, dtype: object
198 Name    Marill
Name: 198, dtype: object
199 Name    Azumarill
Name: 199, dtype: object
200 Name    Sudowoodo
Name: 200, dtype: object
201 Name    Politoed
Name: 201, dtype: object
202 Name    Hoppip
Name: 202, dtype: object
203 Name    Skiploom
Name: 203, dtype: object
204 Name    Jumpluff
Name: 204, dtype: object
205 Name    Aipom
Name: 205, dtype: object
206 Name    Sunkern
Name: 206, dtype: object
207 Name    Sunflora
Name: 207, dtype: object
208 Name    Yanma
Name: 208, dtype: object
209 Name    Wooper
Name: 209, dtype: object
210 Name    Quagsire
Name: 210, dtype: object
211 Name    Espeon
Name: 211, dtype: object
212 Name    Umbreon
Name: 212, dtype: object
213 Name    Murkrow
Name: 213, dtype: object
214 Name    Slowking
Name: 214, dtype: object
215 Name    Misdreavus
Name: 215, dtype: object
216 Name    Unown
Name: 216, dtype: object
217 Name    Wobbuffet
Name: 217, dtype: object
218 Name    Girafarig
Name: 218, dtype: object
219 Name    Pineco
Name: 219, dtype: object
220 Name    Forretress
Name: 220, dtype: object
221 Name    Dunsparce
Name: 221, dtype: object
222 Name    Gligar
Name: 222, dtype: object
223 Name    Steelix
Name: 223, dtype: object
224 Name    SteelixMega Steelix
Name: 224, dtype: object
225 Name    Snubbull
Name: 225, dtype: object
226 Name    Granbull
Name: 226, dtype: object
227 Name    Qwilfish
Name: 227, dtype: object
228 Name    Scizor
Name: 228, dtype: object
229 Name    ScizorMega Scizor
Name: 229, dtype: object
230 Name    Shuckle
Name: 230, dtype: object
231 Name    Heracross
Name: 231, dtype: object
232 Name    HeracrossMega Heracross
Name: 232, dtype: object
233 Name    Sneasel
Name: 233, dtype: object
234 Name    Teddiursa
Name: 234, dtype: object
235 Name    Ursaring
Name: 235, dtype: object
236 Name    Slugma
Name: 236, dtype: object
237 Name    Magcargo
Name: 237, dtype: object
238 Name    Swinub
Name: 238, dtype: object
239 Name    Piloswine
Name: 239, dtype: object
240 Name    Corsola
Name: 240, dtype: object
241 Name    Remoraid
Name: 241, dtype: object
242 Name    Octillery
Name: 242, dtype: object
243 Name    Delibird
Name: 243, dtype: object
244 Name    Mantine
Name: 244, dtype: object
245 Name    Skarmory
Name: 245, dtype: object
246 Name    Houndour
Name: 246, dtype: object
247 Name    Houndoom
Name: 247, dtype: object
248 Name    HoundoomMega Houndoom
Name: 248, dtype: object
249 Name    Kingdra
Name: 249, dtype: object
250 Name    Phanpy
Name: 250, dtype: object
251 Name    Donphan
Name: 251, dtype: object
252 Name    Porygon2
Name: 252, dtype: object
253 Name    Stantler
Name: 253, dtype: object
254 Name    Smeargle
Name: 254, dtype: object
255 Name    Tyrogue
Name: 255, dtype: object
256 Name    Hitmontop
Name: 256, dtype: object
257 Name    Smoochum
Name: 257, dtype: object
258 Name    Elekid
Name: 258, dtype: object
259 Name    Magby
Name: 259, dtype: object
260 Name    Miltank
Name: 260, dtype: object
261 Name    Blissey
Name: 261, dtype: object
262 Name    Raikou
Name: 262, dtype: object
263 Name    Entei
Name: 263, dtype: object
264 Name    Suicune
Name: 264, dtype: object
265 Name    Larvitar
Name: 265, dtype: object
266 Name    Pupitar
Name: 266, dtype: object
267 Name    Tyranitar
Name: 267, dtype: object
268 Name    TyranitarMega Tyranitar
Name: 268, dtype: object
269 Name    Lugia
Name: 269, dtype: object
270 Name    Ho-oh
Name: 270, dtype: object
271 Name    Celebi
Name: 271, dtype: object
272 Name    Treecko
Name: 272, dtype: object
273 Name    Grovyle
Name: 273, dtype: object
274 Name    Sceptile
Name: 274, dtype: object
275 Name    SceptileMega Sceptile
Name: 275, dtype: object
276 Name    Torchic
Name: 276, dtype: object
277 Name    Combusken
Name: 277, dtype: object
278 Name    Blaziken
Name: 278, dtype: object
279 Name    BlazikenMega Blaziken
Name: 279, dtype: object
280 Name    Mudkip
Name: 280, dtype: object
281 Name    Marshtomp
Name: 281, dtype: object
282 Name    Swampert
Name: 282, dtype: object
283 Name    SwampertMega Swampert
Name: 283, dtype: object
284 Name    Poochyena
Name: 284, dtype: object
285 Name    Mightyena
Name: 285, dtype: object
286 Name    Zigzagoon
Name: 286, dtype: object
287 Name    Linoone
Name: 287, dtype: object
288 Name    Wurmple
Name: 288, dtype: object
289 Name    Silcoon
Name: 289, dtype: object
290 Name    Beautifly
Name: 290, dtype: object
291 Name    Cascoon
Name: 291, dtype: object
292 Name    Dustox
Name: 292, dtype: object
293 Name    Lotad
Name: 293, dtype: object
294 Name    Lombre
Name: 294, dtype: object
295 Name    Ludicolo
Name: 295, dtype: object
296 Name    Seedot
Name: 296, dtype: object
297 Name    Nuzleaf
Name: 297, dtype: object
298 Name    Shiftry
Name: 298, dtype: object
299 Name    Taillow
Name: 299, dtype: object
300 Name    Swellow
Name: 300, dtype: object
301 Name    Wingull
Name: 301, dtype: object
302 Name    Pelipper
Name: 302, dtype: object
303 Name    Ralts
Name: 303, dtype: object
304 Name    Kirlia
Name: 304, dtype: object
305 Name    Gardevoir
Name: 305, dtype: object
306 Name    GardevoirMega Gardevoir
Name: 306, dtype: object
307 Name    Surskit
Name: 307, dtype: object
308 Name    Masquerain
Name: 308, dtype: object
309 Name    Shroomish
Name: 309, dtype: object
310 Name    Breloom
Name: 310, dtype: object
311 Name    Slakoth
Name: 311, dtype: object
312 Name    Vigoroth
Name: 312, dtype: object
313 Name    Slaking
Name: 313, dtype: object
314 Name    Nincada
Name: 314, dtype: object
315 Name    Ninjask
Name: 315, dtype: object
316 Name    Shedinja
Name: 316, dtype: object
317 Name    Whismur
Name: 317, dtype: object
318 Name    Loudred
Name: 318, dtype: object
319 Name    Exploud
Name: 319, dtype: object
320 Name    Makuhita
Name: 320, dtype: object
321 Name    Hariyama
Name: 321, dtype: object
322 Name    Azurill
Name: 322, dtype: object
323 Name    Nosepass
Name: 323, dtype: object
324 Name    Skitty
Name: 324, dtype: object
325 Name    Delcatty
Name: 325, dtype: object
326 Name    Sableye
Name: 326, dtype: object
327 Name    SableyeMega Sableye
Name: 327, dtype: object
328 Name    Mawile
Name: 328, dtype: object
329 Name    MawileMega Mawile
Name: 329, dtype: object
330 Name    Aron
Name: 330, dtype: object
331 Name    Lairon
Name: 331, dtype: object
332 Name    Aggron
Name: 332, dtype: object
333 Name    AggronMega Aggron
Name: 333, dtype: object
334 Name    Meditite
Name: 334, dtype: object
335 Name    Medicham
Name: 335, dtype: object
336 Name    MedichamMega Medicham
Name: 336, dtype: object
337 Name    Electrike
Name: 337, dtype: object
338 Name    Manectric
Name: 338, dtype: object
339 Name    ManectricMega Manectric
Name: 339, dtype: object
340 Name    Plusle
Name: 340, dtype: object
341 Name    Minun
Name: 341, dtype: object
342 Name    Volbeat
Name: 342, dtype: object
343 Name    Illumise
Name: 343, dtype: object
344 Name    Roselia
Name: 344, dtype: object
345 Name    Gulpin
Name: 345, dtype: object
346 Name    Swalot
Name: 346, dtype: object
347 Name    Carvanha
Name: 347, dtype: object
348 Name    Sharpedo
Name: 348, dtype: object
349 Name    SharpedoMega Sharpedo
Name: 349, dtype: object
350 Name    Wailmer
Name: 350, dtype: object
351 Name    Wailord
Name: 351, dtype: object
352 Name    Numel
Name: 352, dtype: object
353 Name    Camerupt
Name: 353, dtype: object
354 Name    CameruptMega Camerupt
Name: 354, dtype: object
355 Name    Torkoal
Name: 355, dtype: object
356 Name    Spoink
Name: 356, dtype: object
357 Name    Grumpig
Name: 357, dtype: object
358 Name    Spinda
Name: 358, dtype: object
359 Name    Trapinch
Name: 359, dtype: object
360 Name    Vibrava
Name: 360, dtype: object
361 Name    Flygon
Name: 361, dtype: object
362 Name    Cacnea
Name: 362, dtype: object
363 Name    Cacturne
Name: 363, dtype: object
364 Name    Swablu
Name: 364, dtype: object
365 Name    Altaria
Name: 365, dtype: object
366 Name    AltariaMega Altaria
Name: 366, dtype: object
367 Name    Zangoose
Name: 367, dtype: object
368 Name    Seviper
Name: 368, dtype: object
369 Name    Lunatone
Name: 369, dtype: object
370 Name    Solrock
Name: 370, dtype: object
371 Name    Barboach
Name: 371, dtype: object
372 Name    Whiscash
Name: 372, dtype: object
373 Name    Corphish
Name: 373, dtype: object
374 Name    Crawdaunt
Name: 374, dtype: object
375 Name    Baltoy
Name: 375, dtype: object
376 Name    Claydol
Name: 376, dtype: object
377 Name    Lileep
Name: 377, dtype: object
378 Name    Cradily
Name: 378, dtype: object
379 Name    Anorith
Name: 379, dtype: object
380 Name    Armaldo
Name: 380, dtype: object
381 Name    Feebas
Name: 381, dtype: object
382 Name    Milotic
Name: 382, dtype: object
383 Name    Castform
Name: 383, dtype: object
384 Name    Kecleon
Name: 384, dtype: object
385 Name    Shuppet
Name: 385, dtype: object
386 Name    Banette
Name: 386, dtype: object
387 Name    BanetteMega Banette
Name: 387, dtype: object
388 Name    Duskull
Name: 388, dtype: object
389 Name    Dusclops
Name: 389, dtype: object
390 Name    Tropius
Name: 390, dtype: object
391 Name    Chimecho
Name: 391, dtype: object
392 Name    Absol
Name: 392, dtype: object
393 Name    AbsolMega Absol
Name: 393, dtype: object
394 Name    Wynaut
Name: 394, dtype: object
395 Name    Snorunt
Name: 395, dtype: object
396 Name    Glalie
Name: 396, dtype: object
397 Name    GlalieMega Glalie
Name: 397, dtype: object
398 Name    Spheal
Name: 398, dtype: object
399 Name    Sealeo
Name: 399, dtype: object
400 Name    Walrein
Name: 400, dtype: object
401 Name    Clamperl
Name: 401, dtype: object
402 Name    Huntail
Name: 402, dtype: object
403 Name    Gorebyss
Name: 403, dtype: object
404 Name    Relicanth
Name: 404, dtype: object
405 Name    Luvdisc
Name: 405, dtype: object
406 Name    Bagon
Name: 406, dtype: object
407 Name    Shelgon
Name: 407, dtype: object
408 Name    Salamence
Name: 408, dtype: object
409 Name    SalamenceMega Salamence
Name: 409, dtype: object
410 Name    Beldum
Name: 410, dtype: object
411 Name    Metang
Name: 411, dtype: object
412 Name    Metagross
Name: 412, dtype: object
413 Name    MetagrossMega Metagross
Name: 413, dtype: object
414 Name    Regirock
Name: 414, dtype: object
415 Name    Regice
Name: 415, dtype: object
416 Name    Registeel
Name: 416, dtype: object
417 Name    Latias
Name: 417, dtype: object
418 Name    LatiasMega Latias
Name: 418, dtype: object
419 Name    Latios
Name: 419, dtype: object
420 Name    LatiosMega Latios
Name: 420, dtype: object
421 Name    Kyogre
Name: 421, dtype: object
422 Name    KyogrePrimal Kyogre
Name: 422, dtype: object
423 Name    Groudon
Name: 423, dtype: object
424 Name    GroudonPrimal Groudon
Name: 424, dtype: object
425 Name    Rayquaza
Name: 425, dtype: object
426 Name    RayquazaMega Rayquaza
Name: 426, dtype: object
427 Name    Jirachi
Name: 427, dtype: object
428 Name    DeoxysNormal Forme
Name: 428, dtype: object
429 Name    DeoxysAttack Forme
Name: 429, dtype: object
430 Name    DeoxysDefense Forme
Name: 430, dtype: object
431 Name    DeoxysSpeed Forme
Name: 431, dtype: object
432 Name    Turtwig
Name: 432, dtype: object

In [10]:
df_csv.loc[df_csv['Type 1'] == 'Psychic']

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
69,64,Kadabra,Psychic,NaN,40,35,30,120,70,105,1,False
70,65,Alakazam,Psychic,NaN,55,50,45,135,95,120,1,False
71,65,AlakazamMega Alakazam,Psychic,NaN,55,50,65,175,95,150,1,False
104,96,Drowzee,Psychic,NaN,60,48,45,43,90,42,1,False
105,97,Hypno,Psychic,NaN,85,73,70,73,115,67,1,False
131,122,Mr. Mime,Psychic,Fairy,40,45,65,100,120,90,1,False
162,150,Mewtwo,Psychic,NaN,106,110,90,154,90,130,1,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,106,150,70,194,120,140,1,True
165,151,Mew,Psychic,NaN,100,100,100,100,100,100,1,False
191,177,Natu,Psychic,Flying,40,50,45,70,45,70,2,False
192,178,Xatu,Psychic,Flying,65,75,70,95,70,95,2,False
211,196,Espeon,Psychic,NaN,65,65,60,130,95,110,2,False
216,201,Unown,Psychic,NaN,48,72,48,72,48,48,2,False
217,202,Wobbuffet,Psychic,NaN,190,33,58,33,58,33,2,False
269,249,Lugia,Psychic,Flying,106,90,130,90,154,110,2,True
271,251,Celebi,Psychic,Grass,100,100,100,100,100,100,2,False
303,280,Ralts,Psychic,Fairy,28,25,25,45,35,40,3,False
304,281,Kirlia,Psychic,Fairy,38,35,35,65,55,50,3,False
305,282,Gardevoir,Psychic,Fairy,68,65,65,125,115,80,3,False
306,282,GardevoirMega Gardevoir,Psychic,Fairy,68,85,65,165,135,100,3,False
356,325,Spoink,Psychic,NaN,60,25,35,70,80,60,3,False
357,326,Grumpig,Psychic,NaN,80,45,65,90,110,80,3,False
391,358,Chimecho,Psychic,NaN,65,50,70,95,80,65,3,False
394,360,Wynaut,Psychic,NaN,95,23,48,23,48,23,3,False
428,386,DeoxysNormal Forme,Psychic,NaN,50,150,50,150,50,150,3,True
429,386,DeoxysAttack Forme,Psychic,NaN,50,180,20,180,20,150,3,True
430,386,DeoxysDefense Forme,Psychic,NaN,50,70,160,70,160,90,3,True
431,386,DeoxysSpeed Forme,Psychic,NaN,50,95,90,95,90,180,3,True
481,433,Chingling,Psychic,NaN,45,30,50,65,50,45,4,False
487,439,Mime Jr.,Psychic,Fairy,20,25,45,70,90,60,4,False
526,475,Gallade,Psychic,Fighting,68,125,65,65,115,80,4,False
527,475,GalladeMega Gallade,Psychic,Fighting,68,165,95,65,115,110,4,False
537,480,Uxie,Psychic,NaN,75,75,130,75,130,95,4,True
538,481,Mesprit,Psychic,NaN,80,105,105,105,105,80,4,True
539,482,Azelf,Psychic,NaN,75,125,70,125,70,115,4,True
546,488,Cresselia,Psychic,NaN,120,70,120,75,130,85,4,False
553,494,Victini,Psychic,Fire,100,100,100,100,100,100,5,True
576,517,Munna,Psychic,NaN,76,25,45,67,55,24,5,False
577,518,Musharna,Psychic,NaN,116,55,85,107,95,29,5,False
586,527,Woobat,Psychic,Flying,55,45,43,55,43,72,5,False
587,528,Swoobat,Psychic,Flying,67,57,55,77,55,114,5,False
622,561,Sigilyph,Psychic,Flying,72,58,80,103,80,97,5,False
635,574,Gothita,Psychic,NaN,45,30,50,55,65,45,5,False
636,575,Gothorita,Psychic,NaN,60,45,70,75,85,55,5,False
637,576,Gothitelle,Psychic,NaN,70,55,95,95,110,65,5,False
638,577,Solosis,Psychic,NaN,45,30,40,105,50,20,5,False
639,578,Duosion,Psychic,NaN,65,40,50,125,60,30,5,False
640,579,Reuniclus,Psychic,NaN,110,65,75,125,85,30,5,False
666,605,Elgyem,Psychic,NaN,55,55,55,85,55,30,5,False
667,606,Beheeyem,Psychic,NaN,75,75,75,125,95,40,5,False
745,677,Espurr,Psychic,NaN,62,48,54,63,60,68,6,False
746,678,MeowsticMale,Psychic,NaN,74,48,76,83,81,104,6,False
747,678,MeowsticFemale,Psychic,NaN,74,48,76,83,81,104,6,False
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True

In [11]:
df_csv.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [12]:
df_csv.sort_values(['Type 1', 'HP'], ascending=[False, False])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
351,321,Wailord,Water,NaN,170,90,45,90,45,60,3,False
655,594,Alomomola,Water,NaN,165,75,80,40,45,65,5,False
142,131,Lapras,Water,Ice,130,85,80,85,95,60,1,False
145,134,Vaporeon,Water,NaN,130,65,60,110,95,65,1,False
350,320,Wailmer,Water,NaN,130,70,35,70,35,60,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
314,290,Nincada,Bug,Ground,31,45,90,30,30,40,3,False
462,415,Combee,Bug,Flying,30,30,42,30,42,70,4,False
603,543,Venipede,Bug,Poison,30,45,59,30,39,57,5,False
230,213,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False
316,292,Shedinja,Bug,Ghost,1,90,45,30,30,40,3,False

# Changing the data

In [13]:
df_csv['Total'] = df_csv.iloc[:, 4:10].sum(axis=1)
df_csv = df_csv.sort_values(['Total'], ascending=False)

In [14]:
cols = list(df_csv.columns.values)

df_csv = df_csv[cols[0:4] + [cols[-1]] + cols[4:12]]
df_csv.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
426,384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,780,106,150,70,194,120,140,1,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
422,382,KyogrePrimal Kyogre,Water,NaN,770,100,150,90,180,160,90,3,True
424,383,GroudonPrimal Groudon,Ground,Fire,770,100,180,160,150,90,90,3,True

In [15]:
df_csv.to_csv('modified.csv', index=False)
df_csv.to_excel('modified.xlsx', index=False)
df_csv.to_csv('modified.txt', index=False, sep='\t')

In [16]:
new_df = df_csv.loc[(df_csv['Type 1'] == 'Grass') & (df_csv['Type 2'] == 'Poison') & (df_csv['HP'] > 70)]
new_df.reset_index(drop=True, inplace=True)
new_df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
1,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
2,45,Vileplume,Grass,Poison,490,75,80,85,110,90,50,1,False
3,71,Victreebel,Grass,Poison,490,80,105,65,100,70,70,1,False
4,591,Amoonguss,Grass,Poison,464,114,85,70,85,80,30,5,False

In [23]:
import re

df_csv.loc[df_csv['Name'].str.contains('^pi[a-z]*', flags=re.I, regex=True)] # SPRAWDZ REGEX

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
137,127,PinsirMega Pinsir,Bug,Flying,600,65,155,120,65,90,105,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,False
136,127,Pinsir,Bug,NaN,500,65,125,100,55,70,85,1,False
22,18,Pidgeot,Normal,Flying,479,83,80,75,70,70,101,1,False
239,221,Piloswine,Ice,Ground,450,100,100,80,60,60,50,2,False
558,499,Pignite,Fire,Fighting,418,90,93,55,70,55,55,5,False
21,17,Pidgeotto,Normal,Flying,349,63,60,55,50,50,71,1,False
30,25,Pikachu,Electric,NaN,320,35,55,40,50,50,90,1,False
438,393,Piplup,Water,NaN,314,53,51,53,61,56,40,4,False
219,204,Pineco,Bug,NaN,290,50,65,90,35,35,15,2,False
578,519,Pidove,Normal,Flying,264,50,55,50,36,30,43,5,False
20,16,Pidgey,Normal,Flying,251,40,45,40,35,35,56,1,False
186,172,Pichu,Electric,NaN,205,20,40,15,35,35,60,2,False

In [35]:
df_csv.loc[df_csv['Type 1'] == 'Fire', 'Type 1'] = 'Flamer'

In [37]:
df_csv.loc[df_csv['Type 1'] == 'Flamer']

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
270,250,Ho-oh,Flamer,Flying,680,106,130,90,110,154,90,2,True
7,6,CharizardMega Charizard X,Flamer,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Flamer,Flying,634,78,104,78,159,115,100,1,False
279,257,BlazikenMega Blaziken,Flamer,Fighting,630,80,160,80,130,80,100,3,False
799,721,Volcanion,Flamer,Water,600,80,110,120,130,90,70,6,True
542,485,Heatran,Flamer,Steel,600,91,90,106,130,106,77,4,True
158,146,Moltres,Flamer,Flying,580,90,100,90,125,85,90,1,True
263,244,Entei,Flamer,NaN,580,115,115,85,90,75,100,2,True
354,323,CameruptMega Camerupt,Flamer,Ground,560,70,120,100,145,105,20,3,False
64,59,Arcanine,Flamer,NaN,555,90,110,80,100,80,95,1,False
616,555,DarmanitanZen Mode,Flamer,Psychic,540,105,30,105,140,105,55,5,False
518,467,Magmortar,Flamer,NaN,540,75,95,67,125,95,83,4,False
437,392,Infernape,Flamer,Fighting,534,76,104,71,104,71,108,4,False
723,655,Delphox,Flamer,Psychic,534,75,69,72,114,100,104,6,False
6,6,Charizard,Flamer,Flying,534,78,84,78,109,85,100,1,False
171,157,Typhlosion,Flamer,NaN,534,78,84,78,109,85,100,2,False
278,257,Blaziken,Flamer,Fighting,530,80,120,70,110,70,80,3,False
559,500,Emboar,Flamer,Fighting,528,110,123,65,100,65,65,5,False
147,136,Flareon,Flamer,NaN,525,65,130,60,95,110,65,1,False
736,668,Pyroar,Flamer,Normal,507,86,68,72,109,66,106,6,False
43,38,Ninetales,Flamer,NaN,505,73,76,75,81,100,100,1,False
84,78,Rapidash,Flamer,NaN,500,65,100,70,80,80,105,1,False
731,663,Talonflame,Flamer,Flying,499,78,81,71,74,69,126,6,False
573,514,Simisear,Flamer,NaN,498,75,98,63,98,63,101,5,False
135,126,Magmar,Flamer,NaN,495,65,95,57,100,85,93,1,False
692,631,Heatmor,Flamer,NaN,484,85,97,66,105,66,65,5,False
615,555,DarmanitanStandard Mode,Flamer,NaN,480,105,140,55,30,55,95,5,False
355,324,Torkoal,Flamer,NaN,470,70,85,140,85,70,20,3,False
353,323,Camerupt,Flamer,Ground,460,70,100,70,105,75,40,3,False
558,499,Pignite,Flamer,Fighting,418,90,93,55,70,55,55,5,False
83,77,Ponyta,Flamer,NaN,410,50,85,55,65,65,90,1,False
237,219,Magcargo,Flamer,Rock,410,50,50,120,80,80,30,2,False
722,654,Braixen,Flamer,NaN,409,59,59,58,90,70,73,6,False
277,256,Combusken,Flamer,Fighting,405,60,85,60,85,60,55,3,False
170,156,Quilava,Flamer,NaN,405,58,64,58,80,65,80,2,False
436,391,Monferno,Flamer,Fighting,405,64,78,52,78,52,81,4,False
5,5,Charmeleon,Flamer,NaN,405,58,64,58,80,65,80,1,False
730,662,Fletchinder,Flamer,Flying,382,62,73,55,56,52,84,6,False
735,667,Litleo,Flamer,Normal,369,62,50,58,73,54,72,6,False
259,240,Magby,Flamer,NaN,365,45,75,37,70,55,83,2,False
63,58,Growlithe,Flamer,NaN,350,55,70,45,70,50,60,1,False
572,513,Pansear,Flamer,NaN,316,50,53,48,53,48,64,5,False
614,554,Darumaka,Flamer,NaN,315,70,90,45,15,45,50,5,False
276,255,Torchic,Flamer,NaN,310,45,60,40,70,50,45,3,False
169,155,Cyndaquil,Flamer,NaN,309,39,52,43,60,50,65,2,False
4,4,Charmander,Flamer,NaN,309,39,52,43,60,50,65,1,False
435,390,Chimchar,Flamer,NaN,309,44,58,44,58,44,61,4,False
557,498,Tepig,Flamer,NaN,308,65,63,45,45,45,45,5,False
721,653,Fennekin,Flamer,NaN,307,40,45,40,62,60,60,6,False
352,322,Numel,Flamer,Ground,305,60,60,40,65,45,35,3,False
42,37,Vulpix,Flamer,NaN,299,38,41,40,50,65,65,1,False
236,218,Slugma,Flamer,NaN,250,40,40,40,70,40,20,2,False

In [50]:
df_csv.groupby('Type 1')['Defense'].mean().sort_values(ascending=False)

Type 1
Steel       126.370370
Rock        100.795455
Dragon       86.375000
Ground       84.843750
Ghost        81.187500
Water        72.946429
Ice          71.416667
Grass        70.800000
Bug          70.724638
Dark         70.225806
Poison       68.821429
Flamer       67.769231
Psychic      67.684211
Electric     66.295455
Flying       66.250000
Fighting     65.925926
Fairy        65.705882
Normal       59.846939
Name: Defense, dtype: float64

In [51]:
df_csv['count'] = 1
df_csv.groupby(['Type 1', 'Type 2']).count()['count']

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: count, Length: 136, dtype: int64